h3 {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.contenedor {
  margin: auto;
}

*{
  color: #ffffff;
  font-family: serif;
}

//FUNCIONA SOBRE UN ION-BUTTON DIRECTAMENTE.
.button-custom {

  //padding: 0px !important;
  //width: 100vw;
  //margin: 5px;
  // background: linear-gradient(to bottom, rgba(74, 36, 36, 0) 0%, rgb(202, 52, 52) 100%);
  // background: linear-gradient(to bottom, red 30%, blue 70%, red 30%);
  //background: linear-gradient(to bottom, #009dff, #c300ff, #00ff6e) !important;
  // border-radius: 100px !important;
  height: 50% !important;
  //border-color: red; //AL CONTENEDOR
  //--border-color: red;//AL BOTON
  //border: 1px solid red; NO ES AL BOTON, ES A SU CONTENEDOR
 // --border-radius : 50px !important; //ES AL BOTON
}

ion-button.button-custom {
  //--background: #93e9be;
  //--background-hover: #9ce0be;
  //--background-activated: #88f4be;
  //--background-focused: #88f4be;
  --background: linear-gradient(to bottom, #ad21fef7 0%,#613F75 50%,#ad21fef7 80%);//AL BOTON

//  height: 50%;
  width: 96vw;
  margin: 5px;
  //--color: blue !important;


  --border-radius: 50px !important; //ES AL BOTON
  --border-color: #613F75;
  --border-style: solid;
  --border-width: 3px;

 // --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

 // --ripple-color: rgb(20, 255, 90);
 // --padding-top: 10px;
 // --padding-bottom: 10px;
}

.logout{
 
}

.titulo {
  font-size: 3.3em;
  font-weight: bold;
  padding: 0px !important;
  width: 20vw !important;
}